<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home page</title>

        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body id="home-page">
      <h1>Brendan Eich</h1>
      <p id="bio">Brendan Eich (; born July 4, 1961) is an American computer programmer and technology executive. He created the JavaScript programming language and co-founded the Mozilla project, the Mozilla Foundation, and the Mozilla Corporation. He served as the Mozilla Corporation's chief technical officer before he was appointed chief executive officer.  He subsequently became the CEO of Brave Software.</p>

      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/works">See Brendan's works</a>
        </li>
        <li>
          <a href="/gallery">Photo gallery</a>
        </li>
      </ul>
      
    </body>
  </html>
