<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/CSS" href="/stylesheets/styles.css">
    <title>Photo Gallery</title>
</head>
<body>
    <h1>The Creator of Javascript(JS)</h1>
    
    <img src="https://qph.cf2.quoracdn.net/main-qimg-8a069d5de3b6e923c0e211ec29c7ae71-pjlq" alt="">

    <a href="/">Home</a>
    
    <img src="https://global.discourse-cdn.com/sitepoint/original/3X/b/5/b59a78e2ed76c705f3c0dcb300f3f222aefdcd99.png" alt="">
    <img src="https://i.imgur.com/5724Dz1.jpg" alt="">

    <div id="meme"></div>
</body>
</html>